* {
  box-sizing: border-box;
}

.route-card {
  border-spacing: 0;
}

.route-card td, .route-card th {
  border: solid 1px black;
}

.route-card input {
  width: 100%;
}

.route-card tbody tr:last-child td:not(.grid-ref) {
  background: grey;
}

.route-card tbody tr:last-child :not(.grid-ref) input {
  display: none;
}
