* {
  box-sizing: border-box;
}

.route-card {
  border-spacing: 0;

  td, th {
    border: solid 1px black;
  }

  input {
    width: 100%;
  }

  tbody tr:last-child td:not(.grid-ref) {
    background: grey;

    input {
      display: none;
    }
  }

  tfoot th {
    background: grey;
  }
}
