* {
  box-sizing: border-box;
}

.route-card {
  border-spacing: 0;
  width: 100%;

  td, th {
    border: solid 1px black;
  }

  input {
    width: 100%;
  }

  .grid-ref, .bearing, .distance, .height-gained, .leg-time, .total-time {
    width: 6em;
  }

  tbody tr:last-child td:not(.grid-ref) {
    background: grey;

    input {
      display: none;
    }
  }

  tfoot th {
    background: grey;
  }
}
